
@mixin dark-mode() {
  background-color: #242424;
  color: var(--dark-mode-text);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  strong,
  b {
    color: var(--dark-mode-text);
  }

  a {
    color: var(--dark-mode-link);
  }

  a:hover {
    color: #535bf2;
  }

  blockquote {
    color: var(--dark-mode-text);
  }

  .theme-button {
    background-color: #404040;
  }

  .feather-sun {
    opacity: 0;
  }

  .feather-moon {
    opacity: 1;
    transform: translateX(-1.5rem);
  }

  code {
    border-radius: 3px;
  }

  .linkedin-logo {
    fill: #444;
  }

  .linkedin-bg {
    fill: #bdbdbd;
  }

  .instagram-icon path,
  .github-icon path {
    fill: #bdbdbd;
  }
}
