@mixin light-mode() {
  background-color: #fff;
  color: var(--light-mode-text);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  strong,
  b {
    color: var(--light-mode-text);
  }

  a {
    color: #3273dc;
  }

  button {
    background-color: #f9f9f9;
  }

  .feather-sun {
    opacity: 1;
    transform: translateX(1.5rem);
  }
  
  .feather-moon {
    opacity: 0;
  }

  code {
    background-color: #f2f2f2;
  }

  .linkedin-bg {
    fill: #bdbdbd;
  }
  .linkedin-logo {
    fill: #fff;
  }
}
