@import './gradient-animation';
@import './mixins';

.hero {
  font-size: 1.12rem;
  text-align: center;

  @media (min-width: 48rem) {
    font-size: 1.6rem;
  }

  @media (min-width: 59rem) {
    margin-left: -100px;
    margin-right: -100px;
    margin-top: 2em;
  }

  p {
    padding-bottom: 2rem;
    padding-top: 2rem;
  }

  img {
    background-color: #f7f4f4;
    border: 1px solid #fff;
    border-radius: 100%;
    display: block;
    // stylelint-disable-next-line property-no-vendor-prefix
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    height: auto;
   
    margin-left: auto;
    margin-right: auto;
    opacity: 0.6;
    position: relative;
    transition: opacity 0.2s ease-in-out, filter 0.2s ease-in-out;

    width: 100px;

    &:hover,
    &:focus {
      filter: grayscale(0);
      opacity: 1;
    }

    @media (min-width: 40rem) {
      margin-left: 50px;
      margin-right: 0;

      width: 150px;
    }
  }
}

.heading-wrapper {

  @media (min-width: 40rem) {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }
}

.heading {
  h2 {
    color: #bdbdbd;
    font-size: 1.2rem;
    margin: 0;
    text-align: center;
    word-wrap: normal;

    @media (min-width: 40rem) {
      text-align: left;
    }
  }
}

.main-heading {
  font-size: 2.3rem;
  margin: 0;
  text-align: center;

  @media (min-width: 40rem) {
    font-size: 3rem;
  }
}

hr {
  background: #ccc;
  border-radius: 3px;
  border-style: none;
  height: 3px;
  margin-bottom: 3em;
  width: 100px;
}
