---
import BaseHead from '../components/BaseHead.astro';
import DarkLight from '../components/DarkLight.astro';
import Social from '../components/Social.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

import '../styles/main.scss';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<main class="container">
			<DarkLight />
			<section class="hero">
				<div class="heading-wrapper">
					<img alt="" src="/profile-pic-black-white-2.png" alt="profile photo of Steven Slack" height="150" width="150" loading="lazy">
					<div class="heading">
						<h1 class="main-heading">Steven Slack</h1>
						<h2>Software Engineer</h2>
					</div>
				</div>
				<p>
					I am a software engineer with 13+ years of experience.
					My expertise includes JavaScript, PHP, Node, React, and Typescript, with a focus on application performance, meta-programming, tooling, test-driven development, and code quality.
				</p>
			</section>
			<hr>
			<section class="social">
				<Social />
			</section>
		</main>
		<Footer />
	</body>
</html>
<style>
	.social {
		margin-bottom: 3em;
	}
</style>