---
import BaseHead from '../components/BaseHead.astro';
import DarkLight from '../components/DarkLight.astro';
import FooterHome from '../components/FooterHome.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

import '../styles/main.scss';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<div class="container">
			<DarkLight />
		</div>
		<main class="container">
			<section class="hero">
				<div class="heading-wrapper">
					<img alt="" src="/profile-pic-black-white-2.webp" alt="profile photo of Steven Slack" height="150" width="150" loading="lazy">
					<div class="heading">
						<h1 class="main-heading gradient-text">Steven Slack</h1>
						<h2>Software Engineer</h2>
					</div>
				</div>
				<p>
					I am a software engineer with 13+ years of experience.
					My expertise includes JavaScript, PHP, Node, React, and Typescript, with a focus on application performance, meta-programming, tooling, test-driven development, and code quality.
				</p>
			</section>
			<hr>
		</main>
		<FooterHome />
	</body>
</html>
