
<div class="theme-toggle">
	<button
		aria-label="theme-button"
		class="theme-button"
		tabindex="0"
	>
		<span class="screen-reader-text">Toggle Dark Mode</span>
		<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-sun"><circle cx="12" cy="12" r="5"></circle><line x1="12" y1="1" x2="12" y2="3"></line><line x1="12" y1="21" x2="12" y2="23"></line><line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line><line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line><line x1="1" y1="12" x2="3" y2="12"></line><line x1="21" y1="12" x2="23" y2="12"></line><line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line><line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line></svg>
		<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-moon"><path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path></svg>
	</button>
</div>

<script is:inline>
	// Make the code in this script tag more efficient.
	const themeButton = document.querySelector('.theme-button');
	let isDark;
	let prefersColorScheme;

	const theme = (() => {
		if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
			return localStorage.getItem('theme');
		}
		prefersColorScheme = true;
		if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
			isDark = true;
			return 'dark';
		}
		return 'light';
	})();

	isDark = theme === 'dark';
	if (!prefersColorScheme) {
		document.documentElement.setAttribute('data-theme', isDark ? 'dark' : 'light');
	}

	const darkModeHandler = () => {
		if (isDark) {
			document.documentElement.setAttribute('data-theme', 'light');
			localStorage.setItem('theme', 'light');
			isDark = false;
		} else {
			document.documentElement.setAttribute('data-theme', 'dark');
			localStorage.setItem('theme', 'dark');
			isDark = true;
		}
	};
	themeButton.addEventListener('click', darkModeHandler);
</script>
<style>
	.theme-button {
		align-items: center;
		display: inline-flex;
		padding: 0.33em 0.67em;
		border-radius: 99px;
		border: transparent;
		justify-content: space-between;
		width: 59px;
	}

	.feather {
		transition: transform 0.1s ease-in-out, opacity 0.1s ease-in-out;
	}
</style>
