---
import HeaderLink from './HeaderLink.astro';
import SiteTitle from './SiteTitle.astro';
import DarkLight from '../components/DarkLight.astro';
---

<header>
	<SiteTitle />
	<nav>
		<HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="/blog">Blog</HeaderLink>
		<DarkLight />
	</nav>
</header>
<style>
	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0em 0 2em;
	}

	h2 {
		margin: 0.5em 0;
	}

	nav {
		display: flex;
	}

	nav a {
		margin-right: 1rem;
	}
</style>
